<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>

    <div ng-app="TipoProductoapp" ng-controller="TipoProductoController" data-ng-init="loadrecord(@Convert.ToInt32(Request.QueryString["id"]))">

        <div class="container">

            <div class="row">

                <div class="col-sm-2"></div>

                <div class="col-sm-8">

                    <br />
                    <h2>Tipo productos</h2> 
                    <div class="form-group">

                        <label>Nombre:</label>

                        <input type="text" ng-model="TipoProducto.Nombre" class="form-control" />

                    </div>

                    <div class="form-group">
                        
                        <label>Fragil:</label>
                        <input type="checkbox" ng-model="TipoProducto.Fragil" class="checkbox" />

                    </div>

                    <div class="form-group">

                        <input type="button" class="btn btn-primary" ng-click="updatedata()" value="{{btntext}}" />
                        <input type="button" class="btn btn-primary" value="Show data" onclick="window.location = '/TipoProducto/Show_data';" />
                        @*@Html.ActionLink("Show_data", "Show_data", "TipoProducto", new { @class = "btn btn-primary" }, null)*@

                    </div>

                </div>

                <div class="col-sm-2"></div>

            </div>

        </div>

    </div>
    <script src="~/Scripts/angular.min.js"></script>    
    <script src="~/Scripts/AngularController/TipoProductoAngularJS.js"></script>
</body>

</html>
